@import 'src/assets/scss/_variables.scss';
@import 'src/assets/scss/_forms.scss';

div.products {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: "Baloo 2";
  justify-content: flex-start;

  > h2 {
    color: $title-h2-color;
    font-size: 3rem;
    margin-top: 5rem;
    text-align: center;
    text-decoration: underline $product-main-color;
  }

  &__container {
    width: 100%;
  }

  &__subcategory {

    > h3 {
      text-transform: lowercase;
      font-size: 2rem;
      text-align: center;

      &::first-letter {
        text-transform: uppercase;
        font-size: 3rem;
      }
    }
  }

  &__group {
    display: flex;
    flex-wrap: wrap;

    & * {
      flex: 1 1 calc(86% - 1.8rem);
    }
  }

  &__category {
    -moz-box-shadow: -4px 3px 17px -8px rgba(128, 128, 128, 0.95);
    -webkit-box-shadow: -4px 3px 17px -8px rgba(128, 128, 128, 0.95);
    box-shadow: -4px 3px 17px -8px rgba(128, 128, 128, 0.95);
    cursor: pointer;
    margin: 1rem;
    min-height: 10rem;
    padding: 1rem;
    perspective: 1000px;
    transition: box-shadow ease-in-out 0.5s;

    &:hover {
      -webkit-box-shadow: -4px 3px 67px -12px rgba(128, 128, 128, 0.65);
      -moz-box-shadow: -4px 3px 67px -12px rgba(128, 128, 128, 0.65);
      box-shadow: -4px 3px 67px -12px rgba(128, 128, 128, 0.65);
    }

    &.added {
      box-shadow: 1px 6px 33px 2px rgba(58, 183, 150, 0.95);
    }

    > h3 {
      color: $title-h2-subtitle;
      font-size: 1.5rem;
      margin: 0.2rem;
      text-transform: lowercase;
    }

    > span {
      padding-left: 0.5rem;
      border-left: solid 0.4rem #ff5447;
    }
  }

  &__inner {
    min-height: 20rem;
    transform-style: preserve-3d;
    transition: transform 0.6s;

    > * {
      position: absolute;
      width: 100%;
      height: 20rem;
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
      transition: transform 0.6s;
      transform-style: preserve-3d;
    }
  }

  @media (min-width: $breakpoint-tablet) {

    &__subcategory {
      margin: 0 10%;
    }

    &__category {
      margin: 1rem 3rem;
      padding: 0.5rem 2rem;
    }

    &__group {
      & * {
        flex: 0 0 calc(40% - 0.8rem);
      }
    }
  }

  @media (min-width: $breakpoint-desktop) {
    &__subcategory {
      margin: 0 15%;
    }
  }
}

.prodserv {
  &__form {
    transform: rotateY(180deg);

    &.clicked {
      transform: rotateY(360deg);
    }
  }

  &__image {
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 1.5rem;
    background-image: url('src/assets/images/def-products.jpg');

    &.clicked {
      transform: rotateY(180deg);
    }

    &.celulares {
      background-image: url('src/assets/images/products/phone.png');
      background-position: 15rem -1rem;
      background-size: 30rem;
    }

    &.computadores {
      background-image: url('src/assets/images/products/computer.jpg');
      background-position: 0.5rem -8rem;
    }

    &.televisores {
      background-image: url('src/assets/images/products/television.jpg');
      background-position: -2rem -18rem;
    }

    &.zapatos {
      background-image: url('src/assets/images/products/zapatos.png');
      background-position: 0rem -8rem;
    }

    &.mesas {
      background-image: url('src/assets/images/products/mesa.jpg');
      background-position: -3rem -35rem;
    }

    &.biblioteca {
      background-image: url('src/assets/images/products/library.jpg');
      background-position: 0rem -5rem;
    }

    &.neveras {
      background-image: url('src/assets/images/products/fridge.png');
      background-position: center;
      background-size: 30rem;
    }

    &.estufas {
      background-image: url('src/assets/images/products/stove.jpg');
      background-position: center;
    }

    &.ropa.infantil {
      background-image: url('src/assets/images/products/child-cloths.jpg');
      background-position: 0.5rem 0rem;
    }

    &.bolzos {
      background-image: url('src/assets/images/products/handbag.jpg');
      background-position: 0rem;
    }

    &.medias {
      background-image: url('src/assets/images/products/socks.jpg');
      background-position: 0rem;
    }

    &.camas {
      background-image: url('src/assets/images/products/bed.jpg');
      background-position: 0rem;
    }

    &.sofas {
      background-image: url('src/assets/images/products/couch.jpg');
      background-position: 1rem -1rem;
      background-size: cover;
    }

    &.escritorios {
      background-image: url('src/assets/images/products/desk.jpg');
      background-position: 1rem -3rem;
    }
  }
}
