//  ********************
//  **** BREAK POINTS  ****
//  ********************
$breakpoint-desktop: 1280px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 320px;
$breakpoint-mobile-samsung-g5: 360px;
$breakpoint-mobile-iphone-6to8: 375px;
$breakpoint-mobile-iphone-6to8plus: 414px;

// **** COMMON COLORS ****
$error-color-dark: #82161f;
$color-text: #727272;
$title-h2-color: #555;
$title-h2-subtitle: #727272;
$product-main-color: #c26464;
$sevice-main-color: #3789cd;
$faqs-main-color: #5b9f9f;
$whitesmoke-color: whitesmoke;
$light-gray-color: #ccc;
$account-text-color: #f8f8f8;
$client-color: #5db6f8;
$admin-color: #63a2d7;
$provider-color: #f8f8f8;
$gray-color: #f8f8f8;
$azul-color-corporativo: #232f3e;

$before-quote-color: orange;
$registered-color: #59a2ff;
$in_quotation-color: #b49de7;
$in_process-color: #ff5959;
