//  ********************
//  **** BREAK POINTS  ****
//  ********************
$breakpoint-desktop: 1280px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 320px;
$breakpoint-mobile-samsung-g5: 360px;
$breakpoint-mobile-iphone-6to8: 375px;
$breakpoint-mobile-iphone-6to8plus: 414px;

// **** COMMON COLORS ****
$error-color-dark: #82161f;
$color-text: #727272;
$title-h2-color: #555;
$title-h2-subtitle: #727272;
$product-main-color: #c26464;
$faqs-main-color: #5b9f9f;
