<app-header></app-header>
<ngb-alert [dismissible]="true" *ngIf="!staticAlertClosed" (close)="staticAlertClosed = true">
  <strong>Atención!</strong> Cotización envada exitosamente
</ngb-alert>
<div class="quote__container">
  <div *ngIf="requestedQuotations.length<=0" class="quote__noitems">
    <h2>No hay solicitudes</h2>
  </div>
  <div *ngIf="!showQuoteDetail" class="quote__list">
    <div *ngIf="requestedQuotations">
      <div *ngFor="let quotation of requestedQuotations" class="quote__resume {{quotation.eRequestStatus | lowercase}}">
        <div class="quote__description">
          <h3>Cotizacion {{quotation.eRequestStatus | quoteStatus}}</h3>
          <p>{{quotation.additionalInfo}}</p>
          <span *ngIf="quotation.categoryId == categoryEnum.PRODUCT">producto</span>
          <span *ngIf="quotation.categoryId == categoryEnum.SERVICE">servicio</span>
        </div>
        <div class="quote__status">
          <h3>{{quotation.eRequestStatus | quoteStatus}}</h3>
          <p><a href="#" (click)="onQuoteClick(quotation)">Ver detalle</a></p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="showQuoteDetail" class="quote__table">
    <form #createQuoteForm="ngForm" (ngSubmit)="onSubmit(createQuoteForm)" class="forms">
      <div class="quote__header">
        <div class="quote__column">Producto</div>
        <div class="quote__column">Descripción</div>
        <div class="quote__column">Cantidad</div>
        <div class="quote__column">Oferta</div>
      </div>

      <div class="quote__row" *ngFor="let detail of quotation.details; let i = index">
        <div class="quote__column">{{detail.productDescription}}</div>
        <div class="quote__column">{{detail.additionalInformation}}</div>
        <div class="quote__column">{{detail.quantity}}</div>
        <div class="quote__column">
          <div class="forms__form--input">
            <label for="quotationDescription" class="forms__label">Descripción de la Oferta</label>
            <input name="quotationDescription" id="quotationDescription" type="text"
                   [(ngModel)]="quoteCreation.details[i].description" required/>
          </div>
          <div class="forms__form--input">
            <label for="quotationCost" class="forms__label">Costo de la Oferta</label>
            <input name="quotationCost" id="quotationCost" type="text" [(ngModel)]="quoteCreation.details[i].amount"
                   required/>
          </div>
        </div>
      </div>

      <div class="quote__footer">
        <div class="quote__column">Total</div>
        <div class="quote__column"></div>
        <div class="quote__column"></div>
        <div class="quote__column">{{quoteCreation.amountTotal}}</div>
      </div>

      <div class="forms__button">
        <button name="send" class="button" [disabled]="!createQuoteForm.valid">Realizar Cotización</button>
      </div>
    </form>
  </div>
</div>


