<div class="header" (window:scroll)="onScrollMove($event)">
  <div class="header__container">
    <div class="header__logo"></div>
    <p class="header__button"><a (click)="menuAction()"><span class="material-icons">menu</span></a></p>
  </div>
  <div class="header__navigation">
    <div class="header__logo header__navigation--logo"><p>otizaciones</p><span>.com</span></div>
    <nav class="header__nav" id="menu_options">
      <a href="#productos" class="products">Productos</a>
      <a href="#servicios" class="services">Servicios</a>
      <a href="#preguntas" class="faqs">Preguntas Frecuentes</a>
      <a *ngIf="!session" href="#shopping_cart" class="shopping_cart">
        <span class="material-icons md-36">shopping_cart</span>
        <app-cart class="shopping_cart__content"></app-cart>
      </a>
      <div *ngIf="!session" class="header__login">
        <a [routerLink]="[routes.REGISTRATION]">Crea Tu Cuenta</a>
        <a [routerLink]="[routes.LOGIN]">Ingresa</a>
      </div>
      <div *ngIf="session" class="header__account">
        <a class="header__account--menu">
          <span class="material-icons">account_box</span>
          <span>{{session.firstName}}</span>
        </a>
      </div>
    </nav>
  </div>

  <div *ngIf="session" class="header__account--options">
    <div class="account">
      <div class="account__menu">
        <ul>
          <li>Cotizaciones</li>
          <li>Mis Datos</li>
          <li>Seguridad</li>
          <li [routerLink]="[routes.DASHBOARD]" >DashBoard</li>
          <li [routerLink]="[routes.SUBCATEGORIA]" >Sub Categorías</li>
          <li (click)="logOut()">Salir</li>
        </ul>
      </div>
      <div class="account__general">
        <p>Hola, {{session.firstName}}</p>
        <span>{{session.userCode}}</span>
        <a>Mi cuenta</a>
      </div>
    </div>
  </div>

</div>
