@import 'src/assets/scss/_variables.scss';

.header {
  background-color: #f8f8f8;
  border-bottom: 1px solid gray;
  font-family: "Baloo 2";
  position: fixed;
  width: 100%;
  z-index: 2;

  &__container {
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
    justify-content: space-between;
    margin: 0 2rem;
  }

  &__nav {
    display: none;
    flex-direction: column;
    width: 100%;

    > a {
      color: gray;
      font-size: 1.7rem;
      line-height: 5rem;
      padding: 0 1rem;
      text-decoration: none;

      &.active {
        background: #e6e6e9;
        border-bottom: solid;

        &.faqs {
          border-bottom: solid $faqs-main-color;
        }

        &.products {
          border-bottom: solid $product-main-color;
        }
      }
    }
  }

  &__login {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    justify-content: center;
    margin-left: 1rem;

    > a {
      color: gray;
      font-size: 1.7rem;
      line-height: 5rem;
      text-decoration: none;
    }
  }

  &__logo {
    background-image: url("src/assets/images/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5rem;
    height: 6rem;
    width: 6rem;
  }

  &__button {
    cursor: pointer;

    &:hover {
      > span {
        background: #9e9e9e;
      }
    }
  }

  &__navigation {
    display: flex;
    justify-content: space-around;

    &--logo {
      display: none;
    }
  }

  &__account {
    &--menu {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      font-size: 1.5rem;
      justify-content: center;

      > span {
        line-height: 5rem;
        margin-left: 0.5rem;
      }

      &::after {
        color: #1b1b1b;
        content: "▼";
        font-size: 1.2rem;
        line-height: 5rem;
        margin-left: 0.5rem;
      }
    }

    &--options {
      background-color: #e6e6e9;
      border-top: 0;
      display: flex;
      flex-direction: row;
      height: 0;
      justify-content: space-evenly;
      transition: height ease-in-out 0.5s;

      &.active {
        height: 30rem;
        border-top: solid 1px grey;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .header {

    &__container {
      display: none;
    }

    &__nav {
      align-content: unset;
      display: flex;
      flex-direction: row;
      justify-content: center;

      > a {
        margin: 0 3rem;
        padding: 0 2.2rem;
      }
    }

    &__login {
      margin-left: 0.5rem;

      > a {
        font-size: 1.3rem;
        line-height: 2.5rem;
      }
    }

    &__navigation {
      display: flex;
      justify-content: space-around;

      &--logo {
        align-items: flex-end;
        color: #aedafc;
        display: flex;
        flex-direction: row;
        font-size: 1.8rem;
        line-height: 5rem;
        margin-left: 5rem;

        > p {
          margin: 0 0 0 5rem;
        }

        > span {
          font-size: 1.2rem;
          color: #3789cd;
        }
      }
    }
  }
}

.account {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  min-width: 33rem;
  overflow: auto;

  &__menu {
    overflow: auto;

    > ul {
      font-size: 1.3rem;
      list-style: none;

      > li {
        line-height: 3rem;
        min-width: 10rem;

        &:hover {
          background: #9e9e9e;
          cursor: pointer;

        }
      }
    }
  }

  &__general {
    overflow: auto;
    align-items: center;
    display: flex;
    flex-direction: column;

    > p {
      font-size: 2rem;
    }
  }
}
