<div class="login__background">
  <p>otizaciones</p>
  <div class="login__form">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="form">
      <input name="user" id="login-user" type="text" placeholder="Usuario" ngModel required>
      <input name="password" id="login-password" type="password" placeholder="Clave" ngModel required>
      <div class="login__button">
        <button id="login-button" type="submit" class="button" [disabled]="!loginForm.valid">Ingresar</button>
      </div>
    </form>
  </div>
</div>
