@font-face {
  font-family: 'Baloo 2';
  src: url('src/assets/fonts/Regular/Baloo2-Regular.woff2') format('woff2'),
  url('src/assets/fonts/Regular/Baloo2-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo 2';
  src: url('src/assets/fonts/ExtraBold/Baloo2-ExtraBold.woff2') format('woff2'),
  url('src/assets/fonts/ExtraBold/Baloo2-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo 2';
  src: url('src/assets/fonts/SemiBold/Baloo2-SemiBold.woff2') format('woff2'),
  url('src/assets/fonts/SemiBold/Baloo2-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo 2';
  src: url('src/assets/fonts/Medium/Baloo2-Medium.woff2') format('woff2'),
  url('src/assets/fonts/Medium/Baloo2-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Baloo 2';
  src: url('src/assets/fonts/Bold/Baloo2-Bold.woff2') format('woff2'),
  url('src/assets/fonts/Bold/Baloo2-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
