<section class="banner">
  <figure class="visible">
    <div class="banner__element first">
      <figcaption>Encuentra en 2020, los mejores productos al ¡mejor precio aqui!</figcaption>
    </div>
  </figure>
  <figure class="hidden">
    <div class="banner__element second">
      <figcaption>Health iswealth</figcaption>
    </div>
  </figure>
  <figure class="hidden">
    <div class="banner__element third">
      <figcaption> Hurricane Threatens to Touch Down on the East Coast This Weekend</figcaption>
    </div>
  </figure>
</section>
