<section class="banner">
  <figure class="visible">
    <div class="banner__element first">
      <figcaption>Encuentra en 2020, los mejores productos al ¡mejor precio aqui!!</figcaption>
    </div>
  </figure>
  <figure class="hidden">
    <div class="banner__element second">
      <figcaption>Contamos con los mejores proveedores de tecnología</figcaption>
    </div>
  </figure>
  <figure class="hidden">
    <div class="banner__element third">
      <figcaption>La mejor variedad de productos, ropa y artículos personales</figcaption>
    </div>
  </figure>
</section>
