@import 'src/assets/scss/_variables.scss';

div.services {
  align-items: center;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  font-family: "Baloo 2";
  height: 50rem;
  justify-content: flex-start;

  > h2 {
    color: $title-h2-color;
    font-size: 3rem;
    margin-top: 5rem;
    text-align: center;
  }
}
