<div class="faqs" id="preguntas">
  <h2>Preguntas Frecuentes</h2>
  <div class="faqs__container">

    <div class="faqs__element">
      <span class="material-icons md-36">help_outline</span>
      <h3>¿Quienes somos?</h3>
      <p>Somos una plataforma tecnológica que pretende acercar a proveedores con negocios o personas que requieran de
        una cotización de forma rápida y segura.</p>
    </div>

    <div class="faqs__element">
      <span class="material-icons md-36">business_center</span>
      <h3>¿Cómo Trabajamos?</h3>
      <p>Ofrecemos un servicio 7x24, en cualquier momento nuestros clientes pueden solicitar cotizaciones a nuestros
        proveedores, estos recibirán sus solucitudes y las responderán en el menor tiempo posible.</p>
    </div>

    <div class="faqs__element">
      <span class="material-icons md-36">how_to_reg</span>
      <h3>¿Que responsabilidad tenemos?</h3>
      <p>Somos facilitadores de conexión entre clientes y proveedores, hemos hecho un proceso exhaustivo para
        seleccionarlos y ofrecer asi la mejor calidad y respaldo a nuestros clientes.</p>
    </div>

    <div class="faqs__element">
      <span class="material-icons md-36">track_changes</span>
      <h3>¿Cual es nuestro objetivo?</h3>
      <p>Acercar a clientes y provedores directamente para que pudan encuentrar las mejoras opcions de precio y
        calidad.</p>
    </div>

    <div class="faqs__element">
      <span class="material-icons md-36">thumb_up_alt</span>
      <h3>¿Que garantía ofrecemos?</h3>
      <p>Te garantizamos la confiabilidad en los proveedores con los que trabajamos además del servicio que te
        ofrecemos. Adicionalmente contamos con una línea de atención al cliente, donde podrás comunicarte con nosotros
        en caso de que se presenten inconvenientes con el servicio o el producto.</p>
    </div>

    <div class="faqs__element">
      <span class="material-icons md-36">build</span>
      <h3>¿Que utilidad te damos?</h3>
      <p>Amplia tus contactos comerciales y conoce nuevos proveedores que te ofrezcasn los mejores productos y el mejor
        servicio.</p>
    </div>
  </div>
</div>

