<div class="prodserv__form--header"><span class="back">x</span></div>
<h2>Cotiza {{productServiceDescription}}</h2>
<p>Ingresa tu cotización para poder procesarla y enviarla a nuestros proveedores</p>
<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="forms">
  <div class="forms__form--inline">
    <label class="forms__label">Descripción</label>
    <label class="forms__label">Cantidad</label>
  </div>
  <div class="forms__form--inline">
    <div class="forms__form--input">
      <input name="additionalInformation" id="additionalInformation" type="text"
             [(ngModel)]="quotationDetail.additionalInformation" required>
    </div>

    <div class="forms__form--input">
      <input name="quantity" id="quantity" type="number" [(ngModel)]="quotationDetail.quantity" required>
    </div>
  </div>
  <div class="forms__button">
    <button name="send" class="button" [disabled]="!f.valid">Agregar al Cotizador</button>
  </div>
</form>
